
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1.15em;
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.ringing {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.box {
  text-align: center;
}
.text {
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
}

.header {
  font-size: 38px;
  font-weight: 600;
  color: #FFFFFF
}

form {
  z-index: 5;
}
form > *
{
  margin-top: 1em;
  margin-bottom: 1em;
}
.formlabel {
 font-size: 19pt;
 color: #ffffff
}

.form-number {
  width: 400px;
  height: 55px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
  display: block;
}

.call-button {
  width: 300px;
  height: 75px;
  vertical-align: middle;
  font-size: 22px;
  font-weight: 600;
  line-height: 75px;
  background: #008000;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
}
.call-button:disabled {
  color: #aaa;
  background: #707070;
}

.call-button:hover {
  filter: brightness(80%);
}

.error {
  border: 1px solid #FF0000;
  background: #FFAAAA;
}
