<div class="header">
  Zadzwonimy do Ciebie w ciagu 26 sekund.
</div>
<form (ngSubmit)="onSubmit()" >
<label class="formlabel" for="form-number">
  Wprowadź numer
</label>
<input name= "numer" [(ngModel)]="numer" [ngClass]="{error: !isValidNumber()}"
       class="form-number" id="form-number"/>
<button class="call-button" [disabled]="!isValidNumber()" type="submit">
  Zadzwoń teraz
</button>
</form>

