html {width: 100%; height: 100%; }
body {
    background: url("/assets/stocktło.jpg");
    width: 100%;
    height: 100%;
    margin: 0;
    }
.bgdimmer {

    background-color: rgba(77, 10, 10, 0.76); 
    z-index: 2; 
    width: 100%; 
    height: 100%;
}
.bgdimmer * { opacity: 1;}
body {
    font-family: 'Indie Flower', cursive;
  }

